*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("lake.png");
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    padding-left: 100px;
    padding-top: 20px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: white;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul li a:hover{
    color: antiquewhite;
}

.content{
    color: wheat;
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    float: left;
}

.content h1{
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
}

.content img{
    float: right;
}
